/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 15px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

#myFooter{
  position: relative;
  bottom: 0;
  width: 100%;

  background-color: #cc0000;
  color: white;
  .authors{
    color: white;
    font-style: italic;

  }
  .footer-copyright {
    background-color: #cc0000;
    padding-bottom: 15px;
    text-align: center;
  }
}

.mb2{
  margin-bottom: 5px;
}

.mt2{
  margin-top: 5px;
}

.mr2{
  margin-right: 5px;
}

.ml2{
  margin-left: 5px;
}



.vediaNavbar
{
  background-color: #cc0000;
  border-color: #cc0000;
  border: none;
}

.vediaCouleurRouge
{
  background-color: #cc0000;
  border-color: #cc0000;
}

.vediaCouleurGris
{
  background-color: #a9abac;
  border-color: #a9abac;
}

.vediaFontCouleurWhite
{
  color: #ffffff;
}

.vediaFontCouleurRed
{
  color: #cc0000;
}

// pour la navbar texte en blanc
.navbar-inverse .navbar-brand
{
  color: #ffffff;
}

// pour la navbar texte en blanc
.navbar-inverse .navbar-nav > li > a
{
  color: #ffffff;
}

// Afin d'éviter d'avoir du text sous la navBar
.marginTopBase
{
  padding-top: 60px;
}

// Creation Employé : pour les commentraire
.badgeComm {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #cc0000;
  border-radius: 10px;
}

// Affichage participant

.listeactufond{
  .snip1206{
    max-height: 380px;
  }
}

// Affichage participant
.participantBorderLeft {
  border-left: 6px solid #cc0000;
}


// Affichage participant
.btnVedia{
  background-color:#cc0000;
  border-color:#cc0000;
  color:white;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellowgreen;
}