/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 15px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

#myFooter{
  position: relative;
  bottom: 0;
  width: 100%;

  background-color: #cc0000;
  color: white;
  .authors{
    color: white;
    font-style: italic;

  }
  .footer-copyright {
    background-color: #cc0000;
    padding-bottom: 15px;
    text-align: center;
  }
}

.mb2{
  margin-bottom: 5px;
}

.mt2{
  margin-top: 5px;
}

.mr2{
  margin-right: 5px;
}

.ml2{
  margin-left: 5px;
}



.vediaNavbar
{
  background-color: #cc0000;
  border-color: #cc0000;
  border: none;
}

.vediaCouleurRouge
{
  background-color: #cc0000;
  border-color: #cc0000;
}

.vediaCouleurGris
{
  background-color: #a9abac;
  border-color: #a9abac;
}

.vediaFontCouleurWhite
{
  color: #ffffff;
}

.vediaFontCouleurRed
{
  color: #cc0000;
}

// pour la navbar texte en blanc
.navbar-inverse .navbar-brand
{
  color: #ffffff;
}

// pour la navbar texte en blanc
.navbar-inverse .navbar-nav > li > a
{
  color: #ffffff;
}

// Afin d'éviter d'avoir du text sous la navBar
.marginTopBase
{
  padding-top: 60px;
}

// Creation Employé : pour les commentraire
.badgeComm {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #cc0000;
  border-radius: 10px;
}

// Affichage participant

.listeactufond{
  .snip1206{
    max-height: 380px;
  }
}

// Affichage participant
.participantBorderLeft {
  border-left: 6px solid #cc0000;
}


// Affichage participant
.btnVedia{
  background-color:#cc0000;
  border-color:#cc0000;
  color:white;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.yellow {
  color: yellowgreen;
}

.yellowGreenBackground {
  background-color:yellowgreen;
  border-color:yellowgreen;

}

@-webkit-keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bake-pie {
  from {
    -webkit-transform: rotate(0deg) translate3d(0, 0, 0);
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}
.pie-chart {
  font-family: "Open Sans", Arial;
}
.pie-chart--wrapper {
  width: 400px;
  margin: 30px auto;
  text-align: center;
}
.pie-chart__pie, .pie-chart__legend {
  display: inline-block;
  vertical-align: top;
}
.pie-chart__pie {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 10px auto 35px;
}
.pie-chart__pie::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #EEE;
  border-radius: 50%;
  top: 50px;
  left: 50px;
}
.pie-chart__pie::after {
  content: "";
  display: block;
  width: 120px;
  height: 2px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.1);
  margin: 220px auto;
}

.slice {
  position: absolute;
  width: 200px;
  height: 200px;
  clip: rect(0px, 200px, 200px, 100px);
  -webkit-animation: bake-pie 1s;
  animation: bake-pie 1s;
}
.slice span {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  clip: rect(0px, 200px, 200px, 100px);
}

.pie-chart__legend {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  background: #FFF;
  padding: 0.75em 0.75em 0.05em;
  font-size: 13px;
  box-shadow: 1px 1px 0 #DDD, 2px 2px 0 #BBB;
  text-align: left;
  width: 65%;
}
.pie-chart__legend li {
  height: 1.25em;
  margin-bottom: 0.7em;
  padding-left: 0.5em;
  border-left: 1.25em solid black;
}
.pie-chart__legend em {
  font-style: normal;
}
.pie-chart__legend span {
  float: right;
}

.pie-charts {
  display: flex;
  flex-direction: row;
}
@media (max-width: 500px) {
  .pie-charts {
    flex-direction: column;
  }
}


#scratcher-box{
  width:300px;
  height: 250px;
  margin: 40px auto 0;
  background: #a2e3ec;
  h1{
    margin: 1rem 0;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color:#F2F2F0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .7);
  }
}






// ticket à gratter
canvas{
  margin: 0 5px;
}

.customCursor{
  cursor: url(https://ars.wildtangent.com/wtscratcher/img/img/scratch-coin.png) 4 12, auto;
}
.rules{
  margin: 10px 0;
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, .7);
}

#claimPrize{
  display:none;
  text-align: center;
  color: rgba(0, 0, 0, .7);
}