/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 15px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}

#myFooter{
  position: relative;
  bottom: 0;
  width: 100%;

  background-color: #cc0000;
  color: white;
  .authors{
    color: white;
    font-style: italic;

  }
  .footer-copyright {
    background-color: #cc0000;
    padding-bottom: 15px;
    text-align: center;
  }
}

.mb2{
  margin-bottom: 5px;
}

.mt2{
  margin-top: 5px;
}

.mr2{
  margin-right: 5px;
}

.ml2{
  margin-left: 5px;
}



.vediaNavbar
{
  background-color: #cc0000;
  border-color: #cc0000;
  border: none;
}

.vediaCouleurRouge
{
  background-color: #cc0000;
  border-color: #cc0000;
}

.vediaCouleurGris
{
  background-color: #a9abac;
  border-color: #a9abac;
}

.vediaFontCouleurWhite
{
  color: #ffffff;
}

.vediaFontCouleurRed
{
  color: #cc0000;
}

// pour la navbar texte en blanc
.navbar-inverse .navbar-brand
{
  color: #ffffff;
}

// pour la navbar texte en blanc
.navbar-inverse .navbar-nav > li > a
{
  color: #ffffff;
}

// Afin d'éviter d'avoir du text sous la navBar
.marginTopBase
{
  padding-top: 60px;
}